.FancyBorder{
    color:  gray;
    /* border: 1px solid rgb(209, 209, 209); */
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.FancyBorder-red{
    box-shadow: 4px 4px 8px 4px rgba(238, 29, 2, 0.2), 0 6px 20px 0 rgba(247, 40, 3, 0.19);
}

.Dialog-title{
    color: rgb(238, 137, 137);
    margin: 10px;
    font-family: cursive;
}

.Dialog-message{
    margin-top: 20px;
}

.Header{
    text-align: center;
    font-family: cursive;
    margin-bottom: 20px;
    color: rgb(87, 116, 116);
}

.AddTask{
    text-align: center;
    width: 70%;
    margin: auto auto 20px auto;
}

.Input{
    width: 90%;
    margin: auto;
    padding: 8px 5px 8px 5px;
    border-radius: 4px;
    border: 1px solid rgb(231, 231, 231);
}

.Add-button{
    width: 9%;
    padding: 8px 15px 8px 15px; 
    background-color: rgb(240, 240, 240);
    border: 1px solid green;
    border-radius: 4px;
}

.Add-button:hover{
    background-color: green;
    border: 1px solid green;
    color: white;
}

.Tasks{
    box-shadow: 4px 4px 8px 4px rgba(179, 178, 178, 0.2), 0 6px 20px 0 rgba(160, 158, 158, 0.19);
    text-align: left;
    width: 70%;
    margin: auto;
    padding: 20px;
}

.Tasks-heading{
    text-align: center;
    width: 100%;
    margin: 20px auto 5px auto;  
    font-family: cursive;
}

.Task-list{
    padding: 10px;
}

.Task{
    padding: 10px;
    margin: 10px;
    background-color: whitesmoke;
    list-style: none;
    border-radius: 4px;
    font-size: 18px;
}

.Task:nth-child(odd){
    background-color: rgb(202, 200, 200);
}

.Remove-button{
    float: right;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(207, 47, 47);
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
}

.Remove-button:hover{
    background-color: rgb(230, 57, 57);
    border: 1px solid rgb(207, 47, 47);
    color: white;
}

.clear-fix{
    clear: both;
}

.Footer-text{
    float: right;
    margin-bottom: 10px;
}
